  <%- include("includes/header") %>
    <div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card o-hidden border-0 shadow-lg mx-auto col-md-10 col-sm-6">
                <div class="card-body">
                    <div class="text-center mb-5">
                        <img src="/img/loader-image.gif" class="w-50">
						<h4 class="text-dark-500">404 Page</h4>
						<h1 class="text-dark-500">Something is wrong!</h1>
                        <a href="/" class="btn btn-drk">Back Home</a>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>
  <%- include("includes/footer") %>